@charset "utf-8";

.paragraph-like.Tag.list .info
{
    margin: 1em;
    padding: 1em 2em;
    border: 1px solid #000;
    border-color: currentColor;
}

.content-list .content-entry .title
{
    margin: 0.5em 0em;
    padding: 0.5em 0em 0em 0em;
    border-top: 1px dotted #000;
    border-color: currentColor;
}

.content-list .content-entry:first-child .title
{
    padding-top: 0px;
    border-top: 0px none;
}

.content-list .content-entry .lead-image
{
    clear: both;
    float: left;
    padding: 0px;
    width: 100px;
    height: 100px;
    display: block;
    border: 0px none;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    margin: 0em 0.5em 0.5em 0em;
}

.content-list .content-entry .lead-image.ui-helper-hidden
{
    display: none;
}

.content-list .content-entry .lead-image img
{
    border: none;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.content-list .content-entry .read-more
{
    text-align: right;
}

.content-list .content-entry .lead-text
{
    text-align: justify;
}

.content-list .content-entry .read-more,
.content-list .content-entry .lead-text,
.content-list .content-entry .lead-text p
{
    padding: 0em;
    margin: 0.5em 0em;
}

.content-list .content-entry .user,
.content-list .content-entry .created
{
    margin: 0px;
    padding: 0px;
    font-size: smaller;
}

.content-list .content-entry .user
{
    float: left;
    margin-right: 0ex;
    padding-right: 1ex;
}

.content-list .content-entry .user ~ .created:before
{
    content: "| ";
}

.content-list .content-entry .user.ui-helper-hidden ~ .created:before,
.content-list .content-entry .user ~ .created.ui-helper-hidden:before
{
    content: none;
}

.content-list .content-entry .user ~ .created.ui-helper-hidden
{
    display: block;
    visibility: hidden;
}

.content-list .content-entry .user.ui-helper-hidden ~ .created.ui-helper-hidden
{
    display: none;
}

.content-list .content-entry:after
{
    height: 0;
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
}

/* required comment for clearfix to work in Opera \*/

* html .content-list .content-entry
{
    height: 1%;
}

.content-list .content-entry
{
    display: block;
}

/* end clearfix */
