@charset "utf-8";

.User.view ul.actions
{
    float: right;
    padding: 0em;
    display: block;
    text-align: right;
    margin: 0em 0em 0.5em 0.5em;
}

.User.view ul.actions li
{
    padding: 0em;
    display: block;
}

.User.view ul.actions li a
{
    display: block;
    text-decoration: none;
}

.User.view .avatar
{
    float: left;
    padding: 0em;
    min-height: 80px;
    margin: 0em 0.5em 0.5em 0em;
}

.User.view h3,
.User.view .state,
.User.view .locale,
.User.view ul.actions li
{
    margin: 0.5em 0em;
}
