@charset "utf-8";

html,
body
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html
{
    font-size: 1.000em;
}

body
{
    font-size: 0.875em;
}

p
{
    padding: 0em;
    margin: 1em 0em;
}

a img
{
    border: 0px none;
}

*:focus,
*:hover,
*:active
{
    outline: none;
}

mark
{
    color: inherit;
    font-weight: bold;
    background-color: rgba(240, 240, 64, 0.7);
}

*[unselectable]
{
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.max-width
{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.no-border
{
    border: 0px none transparent;
}

.clear
{
    clear: both;
}

.clear-left
{
    clear: left;
}

.clear-right
{
    clear: right;
}

.paginationControl
{
    clear: both;
    margin: 0em;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}

.paginationControl .link
{
    border: none;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    background-image: none;
    background-color: transparent;
}

.js-browser-gradient-filter .paginationControl button
{
    -ms-filter: none;
    filter: none;
}

.js-browser-gradient-filter .paginationControl button:hover,
.js-browser-gradient-filter .paginationControl button:active
{
    -ms-filter: none;
    filter: none;
}

.paginationControl .link.number
{
    font-size: 14px;
    font-weight: bold;
    color: #acadb1 !important;
}

.paginationControl .link.number:hover
{
    color: #000000 !important;
}

.paginationControl .link.number.current
{
    color: #5080f1 !important;
}

.paginationControl .link.number.current:hover
{
    color: #000000 !important;
}

.paginationControl .link.first,
.paginationControl .link.previous,
.paginationControl .link.next,
.paginationControl .link.last
{
    width: 24px;
    height: 25px;
    font-size: 0px;
    line-height: 0px;
    overflow: hidden;
    text-indent: 24px;
    background-color: #d0d2d7;
    background-repeat: no-repeat;
    color: transparent !important;
}

.paginationControl .link.first
{
    background-image: url("/images/common/admin/paginator-first-button.png");
}

.paginationControl .link.previous
{
    background-image: url("/images/common/admin/paginator-previous-button.png");
}

.paginationControl .link.next
{
    background-image: url("/images/common/admin/paginator-next-button.png");
}

.paginationControl .link.last
{
    background-image: url("/images/common/admin/paginator-last-button.png");
}

.paginationControl .link.first:hover
{
    background-image: url("/images/common/admin/paginator-first-button-hover.png");
}

.paginationControl .link.previous:hover
{
    background-image: url("/images/common/admin/paginator-previous-button-hover.png");
}

.paginationControl .link.next:hover
{
    background-image: url("/images/common/admin/paginator-next-button-hover.png");
}

.paginationControl .link.last:hover
{
    background-image: url("/images/common/admin/paginator-last-button-hover.png");
}

table
{
    border-collapse: collapse;
}

table.table-pairs th
{
    text-align: right;
}

table.table-pairs th:after
{
    content: ":\00a0";
}

table.table-pairs td
{
    text-align: left;
}

.action-button
{
    float: left;
    height: 22px;
    padding: 0px;
    display: block;
    min-width: 22px;
    margin: 2px 3px 2px 0px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.action-button,
.action-button:link,
.action-button:hover,
.action-button:focus,
.action-button:active,
.action-button:visited
{
    text-decoration: none;
}

.action-button.append
{
    background-image: url("/images/common/buttons/button-append.png");
}

.action-button.append:hover
{
    background-image: url("/images/common/buttons/button-append-hover.png");
}

.action-button.ban
{
    background-image: url("/images/common/buttons/button-ban.png");
}

.action-button.ban:hover
{
    background-image: url("/images/common/buttons/button-ban-hover.png");
}

.action-button.edit
{
    background-image: url("/images/common/buttons/button-edit.png");
}

.action-button.edit:hover
{
    background-image: url("/images/common/buttons/button-edit-hover.png");
}

.action-button.delete
{
    background-image: url("/images/common/buttons/button-delete.png");
}

.action-button.delete:hover
{
    background-image: url("/images/common/buttons/button-delete-hover.png");
}

.action-button.view
{
    background-image: url("/images/common/buttons/button-view.png");
}

.action-button.view:hover
{
    background-image: url("/images/common/buttons/button-view-hover.png");
}

.action-button.list
{
    background-image: url("/images/common/buttons/button-list.png");
}

.action-button.list:hover
{
    background-image: url("/images/common/buttons/button-list-hover.png");
}

.action-button.password
{
    background-image: url("/images/common/buttons/button-password.png");
}

.action-button.password:hover
{
    background-image: url("/images/common/buttons/button-password-hover.png");
}

.action-button.clone
{
    background-image: url("/images/common/buttons/button-clone.png");
}

.action-button.clone:hover
{
    background-image: url("/images/common/buttons/button-clone-hover.png");
}

.action-button.set-default
{
    background-image: url("/images/common/buttons/button-enable.png");
}

.action-button.set-default:hover
{
    background-image: url("/images/common/buttons/button-enable-hover.png");
}

.action-button.grant
{
    background-image: url("/images/common/buttons/button-grant.png");
}

.action-button.grant:hover
{
    background-image: url("/images/common/buttons/button-grant-hover.png");
}

form dl,
form dl dt
{
    clear: left;
}

form dl dt
{
    width: 33%;
    float: left;
    height: auto;
    text-align: right;
    margin-bottom: 1em;
    vertical-align: top;
}

form dl dt label
{
    font-weight: bold;
    margin-right: 1ex;
}

form dl dd
{
    margin-left: 33%;
    margin-bottom: 1em;
}

form.rowSetContainer dl dd
{
    margin-left: 35%;
}

form dl dd.fieldset,
form dl dd.display-group
{
    margin-left: 1em;
}

/* form dt.label-textarea
{
    width: 100%;
    text-align: left;
} */

form dl dd.input-textarea
{
    clear: both;
    margin-left: 0%;
    text-align: center;
}

form dl dd.input-textarea textarea
{
    width: 100%;
    height: 6em;
}

form dl dd.input-radio label,
form dl dd.input-radio_group label,
form dl dd.input-multi_checkbox label,
form dl dd.input-multi_checkbox_group label
{
    margin: 0.2em;
    display: block;
}

form dl dd.input-radio br,
form dl dd.input-radio_group br,
form dl dd.input-multi_checkbox br,
form dl dd.input-multi_checkbox_group br
{
    display: none;
}

form dl dd pre
{
    clear: left;
}

form dl dd .description
{
    opacity: 0.8;
    font-size: smaller;
    margin: 0.5em 0em 0em 0em;
    filter: alpha(opacity=80);
}

form dl dd .description ins
{
    text-decoration: none;
}

form dl dt.required label,
form dl dd.input-checkbox.required label
{
    font-weight: bold;
}

form dl dt.required label:after,
form dl dd.input-checkbox.required label:after
{
    opacity: 0.8;
    content: "\0000a0*";
    filter: alpha(opacity=80);
}

select
{
    border: 1px solid #d5d5d5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e9e9e9));
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #e9e9e9 100%);
}

select,
select option,
select optgroup option
{
    background-color: #f8f8f8;
}

select option,
select optgroup option
{
    border: 0px none;
    background-image: none;
}

select optgroup
{
    border: none;
    font-weight: bold;
    background-image: none;
    background-color: #e8e8e8;
}

input,
keygen,
isindex,
datagrid,
textarea,
input.ui-autocomplete-input,
.ui-widget input.ui-autocomplete-input
{
    color: #111;
    font-size: 1em;
    background: #fff;
    font-weight: normal;
    vertical-align: middle;
    border: 1px solid #d5d5d5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1f1f1), color-stop(1, #ffffff));
    background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(top, #f1f1f1 0%, #ffffff 100%);
    background-image: -ms-linear-gradient(top, #f1f1f1 0%, #ffffff 100%);
    background-image: -o-linear-gradient(top, #f1f1f1 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #f1f1f1 0%, #ffffff 100%);
}

input:focus,
select:focus,
textarea:focus,
input.ui-autocomplete-input:focus,
.ui-widget input.ui-autocomplete-input:focus
{
    border: 1px solid #5080f1;
    box-shadow: 0px 0px 3px #888;
    -ms-box-shadow: 0px 0px 3px #888;
    -moz-box-shadow: 0px 0px 3px #888;
    -webkit-box-shadow: 0px 0px 3px #888;
}

input.ui-state-error
{
    background: #fc1111;
    border: 1px solid #ad0000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fc1111), color-stop(1, #d64141));
    background-image: -webkit-linear-gradient(top, #fc1111 0%, #d64141 100%);
    background-image: -moz-linear-gradient(top, #fc1111 0%, #d64141 100%);
    background-image: -ms-linear-gradient(top, #fc1111 0%, #d64141 100%);
    background-image: -o-linear-gradient(top, #fc1111 0%, #d64141 100%);
    background-image: linear-gradient(to bottom, #fc1111 0%, #d64141 100%);
}

.ui-spinner input
{
    border: none !important;
    box-shadow: none !important;
}

button,
.button-appearance,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
    width: auto;
    min-width: 0px;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 10px;
    background: #737373;
    display: inline-block;
    color: #ffffff !important;
    border: 1px solid #7d7e81;
    border-radius: 1px;
    -ms-border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #acadb1), color-stop(1, #737373));
    background-image: -webkit-linear-gradient(top, #acadb1 0%, #737373 100%);
    background-image: -moz-linear-gradient(top, #acadb1 0%, #737373 100%);
    background-image: -ms-linear-gradient(top, #acadb1 0%, #737373 100%);
    background-image: -o-linear-gradient(top, #acadb1 0%, #737373 100%);
    background-image: linear-gradient(to bottom, #acadb1 0%, #737373 100%);
}

input[type="radio"],
input[type="checkbox"]
{
    background: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0), color-stop(1, #e0e0e0));
    background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: -moz-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: -ms-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: linear-gradient(to bottom, #f0f0f0 0%, #e0e0e0 100%);
}

button:active,
button:hover,
.button-appearance:active,
.button-appearance:hover,
input[type="reset"]:active,
input[type="reset"]:hover,
input[type="button"]:active,
input[type="button"]:hover,
input[type="submit"]:active,
input[type="submit"]:hover
{
    color: #ffffff;
    background-color: #8faffe;
    border: 1px solid #84a3ee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b1c5f4), color-stop(1, #8faffe));
    background-image: -webkit-linear-gradient(top, #b1c5f4 0%, #8faffe 100%);
    background-image: -moz-linear-gradient(top, #b1c5f4 0%, #8faffe 100%);
    background-image: -ms-linear-gradient(top, #b1c5f4 0%, #8faffe 100%);
    background-image: -o-linear-gradient(top, #b1c5f4 0%, #8faffe 100%);
    background-image: linear-gradient(to bottom, #b1c5f4 0%, #8faffe 100%);
}

input[type="radio"]:active,
input[type="checkbox"]:active
{
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e0e0), color-stop(1, #f0f0f0));
    background-image: -webkit-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: -moz-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: -ms-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: -o-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: linear-gradient(to bottom, #e0e0e0 0%, #f0f0f0 100%);
}

.multi_checkbox
{
    height: 6em;
    overflow: auto;
    min-height: 6em;
    max-height: 10em;
    resize: vertical;
    overflow-x: hidden;
    overflow-y: scroll;
    display: inline-block;
}

.js-browser-gradient-filter select
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#FFFFFF',EndColorStr='#E9E9E9')";
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#FFFFFF',EndColorStr='#E9E9E9');
}

.js-browser-gradient-filter input,
.js-browser-gradient-filter keygen,
.js-browser-gradient-filter isindex,
.js-browser-gradient-filter datagrid,
.js-browser-gradient-filter textarea,
.js-browser-gradient-filter input.ui-autocomplete-input,
.js-browser-gradient-filter .ui-widget input.ui-autocomplete-input
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#F1F1F1',EndColorStr='#FFFFFF')";
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#F1F1F1',EndColorStr='#FFFFFF');
}

.js-browser-gradient-filter button,
.js-browser-gradient-filter .button-appearance,
.js-browser-gradient-filter input[type="reset"],
.js-browser-gradient-filter input[type="button"],
.js-browser-gradient-filter input[type="submit"]
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ACADB1',EndColorStr='#737373')";
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ACADB1',EndColorStr='#737373');
}

.js-browser-gradient-filter button:active,
.js-browser-gradient-filter button:hover,
.js-browser-gradient-filter input[type="reset"]:active,
.js-browser-gradient-filter input[type="reset"]:hover,
.js-browser-gradient-filter input[type="button"]:active,
.js-browser-gradient-filter input[type="button"]:hover,
.js-browser-gradient-filter input[type="submit"]:active,
.js-browser-gradient-filter input[type="submit"]:hover
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#B1C5F4',EndColorStr='#8FAFFE')";
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#B1C5F4',EndColorStr='#8FAFFE');
}

.js-browser-gradient-filter input[type="radio"],
.js-browser-gradient-filter input[type="checkbox"]
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#F0F0F0',EndColorStr='#E0E0E0')";
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#F0F0F0',EndColorStr='#E0E0E0');
}

.js-browser-gradient-filter .ui-button
{
    -ms-filter: none !important;
    filter: none !important;
}

select
{
    min-width: 170px;
}

input,
keygen,
textarea,
input.ui-autocomplete-input,
.ui-widget input.ui-autocomplete-input
{
    min-width: 168px;
}

input[size],
.recaptcha_input_area input
{
    min-width: 0ex;
}

.css-unit input
{
    min-width: 10em;
}

.css-unit select,
.css-image select
{
    min-width: 2em;
}

.css-image input
{
    min-width: 6em;
}

textarea
{
    resize: both;
    max-width: 30em;
    min-height: 1em;
    max-height: 10em;
    overflow: auto;
}

.wizard textarea
{
    max-width: 20em;
    max-height: 5em;
}

textarea[data-js-type="js.form.element.html"],
textarea[data-js-type~="js.form.element.html"],
textarea[data-js-type="zork.form.element.html"],
textarea[data-js-type~="zork.form.element.html"],
.wizard textarea[data-js-type="js.form.element.html"],
.wizard textarea[data-js-type~="js.form.element.html"],
.wizard textarea[data-js-type="zork.form.element.html"],
.wizard textarea[data-js-type~="zork.form.element.html"]
{
    min-width: 950px;
    max-width: 1200px;
}

input[type="radio"],
input[type="checkbox"]
{
    min-width: 0ex;
    font-weight: bold;
}

input[type="radio"],
input[type="checkbox"]
{
    bottom: 1px;
    width: 12px;
    height: 12px;
    margin: 1px;
    padding: 0px;
    position: relative;
    color: transparent;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -webkit-appearance: none;
    -webkit-user-select: none;
}

form dd label input[type="radio"],
form dd label input[type="checkbox"]
{
    margin-right: 1ex;
}

input[type="radio"]
{
    bottom: 2px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

input[type="checkbox"]
{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

input[type="radio"]:checked
{
    background-image: url("/images/common/radio.png"),
                      -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0), color-stop(1, #e0e0e0));
    background-image: url("/images/common/radio.png"),
                      -webkit-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: url("/images/common/radio.png"),
                      -moz-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: url("/images/common/radio.png"),
                      -ms-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: url("/images/common/radio.png"),
                      -o-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: url("/images/common/radio.png"),
                      linear-gradient(to bottom, #f0f0f0 0%, #e0e0e0 100%);
}

input[type="radio"]:active:checked
{
    background-image: url("/images/common/radio.png"),
                      -webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e0e0), color-stop(1, #f0f0f0));
    background-image: url("/images/common/radio.png"),
                      -webkit-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: url("/images/common/radio.png"),
                      -moz-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: url("/images/common/radio.png"),
                      -ms-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: url("/images/common/radio.png"),
                      -o-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: url("/images/common/radio.png"),
                      linear-gradient(to bottom, #e0e0e0 0%, #f0f0f0 100%);
}

input[type="checkbox"]:checked
{
    background-image: url("/images/common/checkbox.png"),
                      -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0), color-stop(1, #e0e0e0));
    background-image: url("/images/common/checkbox.png"),
                      -webkit-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: url("/images/common/checkbox.png"),
                      -moz-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: url("/images/common/checkbox.png"),
                      -ms-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: url("/images/common/checkbox.png"),
                      -o-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: url("/images/common/checkbox.png"),
                      linear-gradient(to bottom, #f0f0f0 0%, #e0e0e0 100%);
}

input[type="checkbox"]:active:checked
{
    background-image: url("/images/common/checkbox.png"),
                      -webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e0e0), color-stop(1, #f0f0f0));
    background-image: url("/images/common/checkbox.png"),
                      -webkit-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: url("/images/common/checkbox.png"),
                      -moz-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: url("/images/common/checkbox.png"),
                      -ms-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: url("/images/common/checkbox.png"),
                      -o-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: url("/images/common/checkbox.png"),
                      linear-gradient(to bottom, #e0e0e0 0%, #f0f0f0 100%);
}

input[type="checkbox"]:indeterminate
{
    background-image: url("/images/common/indeterminate.png"),
                      -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0), color-stop(1, #e0e0e0));
    background-image: url("/images/common/indeterminate.png"),
                      -webkit-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: url("/images/common/indeterminate.png"),
                      -moz-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: url("/images/common/indeterminate.png"),
                      -ms-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: url("/images/common/indeterminate.png"),
                      -o-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
    background-image: url("/images/common/indeterminate.png"),
                      linear-gradient(to bottom, #f0f0f0 0%, #e0e0e0 100%);
}

input[type="checkbox"]:active:indeterminate
{
    background-image: url("/images/common/indeterminate.png"),
                      -webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e0e0), color-stop(1, #f0f0f0));
    background-image: url("/images/common/indeterminate.png"),
                      -webkit-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: url("/images/common/indeterminate.png"),
                      -moz-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: url("/images/common/indeterminate.png"),
                      -ms-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: url("/images/common/indeterminate.png"),
                      -o-linear-gradient(top, #e0e0e0 0%, #f0f0f0 100%);
    background-image: url("/images/common/indeterminate.png"),
                      linear-gradient(to bottom, #e0e0e0 0%, #f0f0f0 100%);
}

.js-browser-gradient-filter input[type="radio"],
.js-browser-gradient-filter input[type="checkbox"]
{
    width: auto;
    height: auto;
    border: none;
    background: transparent;
}

input[type="number"]
{
    text-align: right;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"]
{
    text-align: center;
}

.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text
{
    padding: 0em;
}

.ui-button-icon-only .ui-button-text:after,
.ui-button-icons-only .ui-button-text:after
{
    content: "\0000a0";
}

.ui-inputset .ui-inputset-element
{
    vertical-align: middle;
}

.ui-inputset .ui-inputset-element + .ui-inputset-element
{
    margin-left: -0.3em;
}

.ui-widget-content
{
    padding: 0px;
    background-image: none;
}

.ui-widget-content .ui-widget-header
{
    margin: -1px;
}

.ui-autocomplete-group
{
    line-height: 1.5;
    font-weight: bold;
    padding: 0.2em 0.4em;
    margin: 0.8em 0em 0.2em 0em;
}

ul.ui-menu
{
    padding-bottom: 1px;
}

.ui-autocomplete.ui-menu,
.ui-selectmenu-menu ul.ui-menu
{
    overflow: auto;
    max-height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
}

ul.ui-menubar ul.ui-menu
{
    width: auto;
    min-width: 200px;
}

body .ui-tooltip
{
    padding: 2px;
    opacity: 0.99;
    color: #70a0fa;
    background: #444;
    font-weight: bold;
    border-width: 1px;
    border-color: #888;
    background: rgba( 65, 65, 65, 0.8 );
    border-color: rgba( 120, 120, 120, 0.8 );
    text-shadow: 0px 0px 2px #222;
}

dd.ui-inputset input
{
    margin-left: 1px !important;
}

.ui-icon.css-repeat-,
.ui-icon.css-text-align-,
.ui-icon.css-border-style-
{
    background-image: url("/images/common/blank.gif");
}

.ui-icon.css-text-align-left
{
    background-image: url("/images/common/icons/text-align-left.png");
}

.ui-state-focus .ui-icon.css-text-align-left,
.ui-state-active .ui-icon.css-text-align-left
{
    background-image: url("/images/common/icons/text-align-left-hover.png");
}

.ui-icon.css-text-align-right
{
    background-image: url("/images/common/icons/text-align-right.png");
}

.ui-state-focus .ui-icon.css-text-align-right,
.ui-state-active .ui-icon.css-text-align-right
{
    background-image: url("/images/common/icons/text-align-right-hover.png");
}

.ui-icon.css-text-align-center
{
    background-image: url("/images/common/icons/text-align-center.png");
}

.ui-state-focus .ui-icon.css-text-align-center,
.ui-state-active .ui-icon.css-text-align-center
{
    background-image: url("/images/common/icons/text-align-center-hover.png");
}

.ui-icon.css-text-align-justify
{
    background-image: url("/images/common/icons/text-align-justify.png");
}

.ui-state-focus .ui-icon.css-text-align-justify,
.ui-state-active .ui-icon.css-text-align-justify
{
    background-image: url("/images/common/icons/text-align-justify-hover.png");
}

.ui-icon.css-repeat-no-repeat
{
    background-image: url("/images/common/icons/repeat-no-repeat.png");
}

.ui-state-focus .ui-icon.css-repeat-no-repeat,
.ui-state-active .ui-icon.css-repeat-no-repeat
{
    background-image: url("/images/common/icons/repeat-no-repeat-hover.png");
}

.ui-icon.css-repeat-repeat-x
{
    background-image: url("/images/common/icons/repeat-repeat-x.png");
}

.ui-state-focus .ui-icon.css-repeat-repeat-x,
.ui-state-active .ui-icon.css-repeat-repeat-x
{
    background-image: url("/images/common/icons/repeat-repeat-x-hover.png");
}

.ui-icon.css-repeat-repeat-y
{
    background-image: url("/images/common/icons/repeat-repeat-y.png");
}

.ui-state-focus .ui-icon.css-repeat-repeat-y,
.ui-state-active .ui-icon.css-repeat-repeat-y
{
    background-image: url("/images/common/icons/repeat-repeat-y-hover.png");
}

.ui-icon.css-repeat-repeat
{
    background-image: url("/images/common/icons/repeat-repeat.png");
}

.ui-state-focus .ui-icon.css-repeat-repeat,
.ui-state-active .ui-icon.css-repeat-repeat
{
    background-image: url("/images/common/icons/repeat-repeat-hover.png");
}

.ui-icon.css-border-style-none
{
    background-image: url("/images/common/icons/border-style-none.png");
}

.ui-state-focus .ui-icon.css-border-style-none,
.ui-state-active .ui-icon.css-border-style-none
{
    background-image: url("/images/common/icons/border-style-none-hover.png");
}

.ui-icon.css-border-style-solid
{
    background-image: url("/images/common/icons/border-style-solid.png");
}

.ui-state-focus .ui-icon.css-border-style-solid,
.ui-state-active .ui-icon.css-border-style-solid
{
    background-image: url("/images/common/icons/border-style-solid-hover.png");
}


.ui-icon.css-border-style-dotted
{
    background-image: url("/images/common/icons/border-style-dotted.png");
}

.ui-state-focus .ui-icon.css-border-style-dotted,
.ui-state-active .ui-icon.css-border-style-dotted
{
    background-image: url("/images/common/icons/border-style-dotted-hover.png");
}

.ui-icon.css-border-style-dashed
{
    background-image: url("/images/common/icons/border-style-dashed.png");
}

.ui-state-focus .ui-icon.css-border-style-dashed,
.ui-state-active .ui-icon.css-border-style-dashed
{
    background-image: url("/images/common/icons/border-style-dashed-hover.png");
}

.ui-icon.css-border-style-double
{
    background-image: url("/images/common/icons/border-style-double.png");
}

.ui-state-focus .ui-icon.css-border-style-double,
.ui-state-active .ui-icon.css-border-style-double
{
    background-image: url("/images/common/icons/border-style-double-hover.png");
}

.ui-icon.css-border-style-ridge
{
    background-image: url("/images/common/icons/border-style-ridge.png");
}

.ui-state-focus .ui-icon.css-border-style-ridge,
.ui-state-active .ui-icon.css-border-style-ridge
{
    background-image: url("/images/common/icons/border-style-ridge-hover.png");
}

.ui-icon.css-border-style-groove
{
    background-image: url("/images/common/icons/border-style-groove.png");
}

.ui-state-focus .ui-icon.css-border-style-groove,
.ui-state-active .ui-icon.css-border-style-groove
{
    background-image: url("/images/common/icons/border-style-groove-hover.png");
}

.ui-icon.css-border-style-inset
{
    background-image: url("/images/common/icons/border-style-inset.png");
}

.ui-state-focus .ui-icon.css-border-style-inset,
.ui-state-active .ui-icon.css-border-style-inset
{
    background-image: url("/images/common/icons/border-style-inset-hover.png");
}

.ui-icon.css-border-style-outset
{
    background-image: url("/images/common/icons/border-style-outset.png");
}

.ui-state-focus .ui-icon.css-border-style-outset,
.ui-state-active .ui-icon.css-border-style-outset
{
    background-image: url("/images/common/icons/border-style-outset-hover.png");
}

.wizard .ui-tabs,
.ui-overlay .ui-tabs,
.wizard .ui-tabs .ui-tabs-nav,
.ui-overlay .ui-tabs .ui-tabs-nav,
.wizard .ui-tabs .ui-tabs-nav li,
.ui-overlay .ui-tabs .ui-tabs-nav li
{
    margin: 0px;
    padding: 0px;
    border: 0px none;
}

.wizard .ui-tabs,
.ui-overlay .ui-tabs,
.ui-overlay .ui-widget-content
{
    color: #ffffff;
    background: #4d4d4d;
}

.wizard .ui-tabs .ui-tabs-nav,
.ui-overlay .ui-tabs .ui-tabs-nav,
.wizard .ui-tabs .ui-tabs-nav li,
.ui-overlay .ui-tabs .ui-tabs-nav li,
.wizard .ui-tabs .ui-tabs-nav li a,
.ui-overlay .ui-tabs .ui-tabs-nav li a
{
    color: #a2a2a2;
    background: #000000;
    border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.wizard .ui-tabs .ui-tabs-nav li.ui-tabs-active,
.ui-overlay .ui-tabs .ui-tabs-nav li.ui-tabs-active,
.wizard .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-overlay .ui-tabs .ui-tabs-nav li.ui-tabs-active a
{
    color: #527cea;
    background: #4d4d4d;
}

.wizard .ui-tabs .ui-tabs-nav li.ui-state-hover,
.ui-overlay .ui-tabs .ui-tabs-nav li.ui-state-hover,
.wizard .ui-tabs .ui-tabs-nav li.ui-state-hover a,
.ui-overlay .ui-tabs .ui-tabs-nav li.ui-state-hover a
{
    color: #ffffff;
}

.ui-overlay form dl dd
{
    margin-left: 0;
}

.ui-overlay form dl dd.input-submit button,
.ui-overlay form dl dd.input-submit input[type="reset"],
.ui-overlay form dl dd.input-submit input[type="button"],
.ui-overlay form dl dd.input-submit input[type="submit"]
{
    float: right;
    margin: 1em 0em 1em 1em;
}

.ui-overlay form dl dd.input-submit button.ui-button-cancel,
.ui-overlay form dl dd.input-submit input[type="reset"].ui-button-cancel,
.ui-overlay form dl dd.input-submit input[type="button"].ui-button-cancel,
.ui-overlay form dl dd.input-submit input[type="submit"].ui-button-cancel
{
    float: left;
    margin: 1em 0em 1em 0em;
}

.ui-overlay form dl dd.input-submit input[type="submit"][name="save"]
{
    background: #3b63c5;
    border-color: #1f1f1f;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4672e6), color-stop(1, #3154b0));
    background-image: -webkit-linear-gradient(top, #4672e6 0%, #3154b0 100%);
    background-image: -moz-linear-gradient(top, #4672e6 0%, #3154b0 100%);
    background-image: -ms-linear-gradient(top, #4672e6 0%, #3154b0 100%);
    background-image: -o-linear-gradient(top, #4672e6 0%, #3154b0 100%);
    background-image: linear-gradient(to bottom, #4672e6 0%, #3154b0 100%);
}

.ui-overlay form dl dd.input-submit input[type="submit"][name="save"]:focus,
.ui-overlay form dl dd.input-submit input[type="submit"][name="save"]:hover,
.ui-overlay form dl dd.input-submit input[type="submit"][name="save"]:active
{
    background: #1d1d1d;
    border-color: #484848;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #343434), color-stop(1, #050505));
    background-image: -webkit-linear-gradient(top, #343434 0%, #050505 100%);
    background-image: -moz-linear-gradient(top, #343434 0%, #050505 100%);
    background-image: -ms-linear-gradient(top, #343434 0%, #050505 100%);
    background-image: -o-linear-gradient(top, #343434 0%, #050505 100%);
    background-image: linear-gradient(to bottom, #343434 0%, #050505 100%);
}

::selection
{
    color: #fff;
    background: rgba(50, 100, 240, 0.7);
}

::-moz-selection
{
    color: #fff;
    background: rgba(50, 100, 240, 0.7);
}

::-webkit-validation-bubble-arrow,
::-webkit-validation-bubble-message
{
    color: #ffffff;
    font-size: 100%;
    border: 1px solid #e00000;
    background: #b81900 url("/styles/ui/images/ui-bg_highlight-soft_30_b81900_1x100.png") 50% top repeat-x;
}

@media screen and (max-width: 480px)
{
    html
    {
        -webkit-text-size-adjust: none;
    }
}
