@charset "utf-8";

.package-list .warn,
.package-details .warn
{
    color: #800000;
    font-weight: bold;
}

.package-list-search,
.package-list-actions
{
    text-align: right;
}

.package-list-search select
{
    float: left;
}

.package-list-categories
{
    padding: 0em 1em;
    border-bottom: 1px solid #000;
    border-color: currentColor;
}

.package-list-categories button
{
    margin-bottom: 0px;
    vertical-align: bottom;
}

.package-list-categories button.active
{
    padding-top: 4px;
    padding-bottom: 4px;
}

.package-list .package-entry
{
    padding: 1em;
    display: block;
    margin: 1em 0em;
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #ccc;
    border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.package-list .package-entry:hover
{
    background: #f8f8ff;
}

.package-list .package-entry:after
{
    height: 0;
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
}

/* required comment for clearfix to work in Opera \*/

* html .package-list .package-entry
{
    height: 1%;
}

.package-list .package-entry
{
    display: block;
}

/* end clearfix */

.package-details .action,
.package-list .package-entry .action
{
    float: right;
}

.package-details .action.install,
.package-list .package-entry .action.install
{
    color: #cfc;
}

.package-details .action.remove,
.package-list .package-entry .action.remove
{
    color: #fec;
}

.package-list .package-entry .action.view
{
    right: 1em;
    bottom: 1em;
    position: absolute;
}

.package-details .icon,
.package-list .package-entry .icon
{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 1em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("/images/common/admin/default-package-icon.png");
}

.package-details .name,
.package-list .package-entry .name
{
    display: block;
    font-size: larger;
    font-weight: bold;
}

.package-details .modules
{
    clear: both;
    text-align: center;
}

.package-details .time,
.package-details .description,
.package-list .package-entry .time,
.package-list .package-entry .description
{
    display: block;
    padding-top: 1em;
}

.package-list .package-entry .description
{
    padding-bottom: 1.5em;
}

.package-details .package-data .version .reference
{
    opacity: 0.5;
    font-size: smaller;
    font-family: monospace;
    filter: alpha(opacity=50);
}

.package-details dl.package-data dt
{
    font-weight: bold;
}

.package-details dl.package-data dd
{
    padding-left: 1ex;
}