@charset "utf-8";

.package-list .warn
{
    color: #800000;
    font-weight: bold;
}

.package-list-search,
.package-list-actions
{
    text-align: right;
}

.package-list-actions
{
    float: right;
}

.package-list-form
{
    clear: both;
}

.package-list-search select
{
    float: left;
}

.package-list .package-entry
{
    width: 33%;
    width: 33.3%;
    color: #fff;
    float: left;
    margin: 0px;
    padding: 0px;
    height: 300px;
    display: block;
    position: relative;
    font-size: smaller;
    background: #424242;
    box-shadow: inset 0px 0px 1px #000;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.package-list .package-entry:hover
{
    z-index: 1;
    background: #000;
}

.package-list .package-entry.enabled
{
    color: #000;
    background: #fff;
    box-shadow: inset 0px 0px 1px #999;
}

.package-list .package-entry.enabled:hover
{
    background: #ececec;
    box-shadow: inset 0px 0px 4px #999;
}

.package-list .package-entry a,
.package-list .package-entry .name
{
    color: #4e7def;
}

.package-list .package-entry a:hover
{
    color: #fff;
    text-decoration: underline;
}

.package-list .package-entry a.button-appearance:hover
{
    text-decoration: none;
}

.package-list .package-entry.enabled a:hover
{
    color: #000;
}

.package-list-actions .update-all,
.package-list .package-entry .action
{
    min-width: 50px;
    text-align: center;
    padding: 0.3em 1.5em;
}

.package-list-actions .update-all,
.package-list .package-entry .action.install
{
    color: #fff;
    border-color: #1f4f1f;
    background-color: #42cc3e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4fe64b), color-stop(1, #39a42e));
    background-image: -webkit-linear-gradient(top, #4fe64b 0%, #39a42e 100%);
    background-image: -moz-linear-gradient(top, #4fe64b 0%, #39a42e 100%);
    background-image: -ms-linear-gradient(top, #4fe64b 0%, #39a42e 100%);
    background-image: -o-linear-gradient(top, #4fe64b 0%, #39a42e 100%);
    background-image: linear-gradient(to bottom, #4fe64b 0%, #39a42e 100%);
}

.package-list .package-entry .action.remove
{
    color: #fff;
    border-color: #4f1f1f;
    background-color: #c83b3b;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e64747), color-stop(1, #a42e2e));
    background-image: -webkit-linear-gradient(top, #e64747 0%, #a42e2e 100%);
    background-image: -moz-linear-gradient(top, #e64747 0%, #a42e2e 100%);
    background-image: -ms-linear-gradient(top, #e64747 0%, #a42e2e 100%);
    background-image: -o-linear-gradient(top, #e64747 0%, #a42e2e 100%);
    background-image: linear-gradient(to bottom, #e64747 0%, #a42e2e 100%);
}

.package-list-actions .update-all:hover,
.package-list .package-entry .action:hover
{
    color: #fff;
    border-color: #84a3ee;
    background-color: #8faffe;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b1c5f4), color-stop(1, #8faffe));
    background-image: -webkit-linear-gradient(top, #b1c5f4 0%, #8faffe 100%);
    background-image: -moz-linear-gradient(top, #b1c5f4 0%, #8faffe 100%);
    background-image: -ms-linear-gradient(top, #b1c5f4 0%, #8faffe 100%);
    background-image: -o-linear-gradient(top, #b1c5f4 0%, #8faffe 100%);
    background-image: linear-gradient(to bottom, #b1c5f4 0%, #8faffe 100%);
}

.package-list .package-entry .icon
{
    float: left;
    margin: 1em;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("/images/common/admin/packages/default-icon.png");
}

.package-list .package-entry .name
{
    display: block;
    margin-top: 2em;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 1em;
}

.package-list .package-entry .contents,
.package-list .package-entry .short-infos
{
    clear: both;
    display: block;
    margin: 1em 2em;
}

.package-list .package-entry .short-infos .time-label
{
    font-weight: bold;
}

.package-list .package-entry .contents
{
    color: #ccc;
    height: 10em;
    overflow: hidden;
}

.package-list .package-entry.enabled .contents
{
    color: #888;
}

.package-list .package-entry .numbers
{
    margin: 0em;
    height: 2em;
    padding: 0em;
    vertical-align: middle;
}

.package-list .package-entry .numbers .number
{
    color: #000;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: 0px 4px 0px 0px;
    padding: 2px 8px 2px 28px;
    background: #eee none no-repeat 8px 50%;
    box-shadow: 1px 1px 0px #123;
    border-radius: 12px;
    -ms-border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

.package-list .package-entry.enabled .numbers .number
{
    box-shadow: 1px 1px 0px #d7dbe6;
}

.package-list .package-entry .numbers .number.favourites
{
    background-image: url("/images/common/admin/packages/favourites.png");
}

.package-list .package-entry .numbers .number.downloads
{
    background-image: url("/images/common/admin/packages/downloads.png");
}

.package-list .package-entry .description
{
    height: 8em;
    text-align: justify;
    transition: margin-top 0.5s;
    -o-transition: margin-top 0.5s;
    -ms-transition: margin-top 0.5s;
    -moz-transition: margin-top 0.5s;
    -webkit-transition: margin-top 0.5s;
}

.package-list .package-entry:hover .description
{
    margin-top: -11em;
}

.package-list .package-entry .description p
{
    margin-top: 0em;
}

.package-list .package-entry .description,
.package-list .package-entry dl.package-data
{
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.package-list .package-entry dl.package-data
{
    height: 10em;
    margin: 1em 0em 0em 0em;
}

.package-list .package-entry dl.package-data dt
{
    color: #fff;
    float: left;
    width: auto;
    margin-left: 0em;
    padding-right: 1ex;
}

.package-list .package-entry.enabled dl.package-data dt
{
    color: #000;
}

.package-list .package-entry dl.package-data dd
{
    margin-left: 0em;
}

.package-list .package-entry .actions
{
    left: 2em;
    bottom: 2em;
    position: absolute;
}

.package-list .package-entry .modules
{
    right: 2em;
    bottom: 2em;
    position: absolute;
}

.package-list .package-entry .amount-container
{
    color: #fff;
    padding: 2px 6px;
    margin-right: 1ex;
    background: #507ff0;
    display: inline-block;
    border-radius: 1em;
    -ms-border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

.package-list .package-entry .modules .module,
.package-list .package-entry .amount-container
{
    vertical-align: bottom;
}

.package-list .package-entry .amount-container,
.package-list .package-entry .js-form-onoff-button
{
    box-shadow: 1px 1px 1px #bbb;
}
