@charset "utf-8";

.package-list .warn,
.package-details .warn
{
    color: #800000;
    font-weight: bold;
}

.package-list-search,
.package-list-actions
{
    text-align: right;
}

.package-list-search select
{
    float: left;
}

.package-list .package-entry
{
    padding: 1em;
    display: block;
    margin: 1em 0em;
    background: #fff;
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #ccc;
    border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.package-list .package-entry:hover
{
    background: #def;
    border-color: #47e;
}

.package-list .package-entry.installed
{
    color: #fff;
    background: #424242;
    border-color: #242424;
}

.package-list .package-entry.installed a:hover
{
    color: #fff;
}

.package-list .package-entry:after,
.package-list .package-entry .additional-info:after
{
    height: 0;
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
}

/* required comment for clearfix to work in Opera \*/

* html .package-list .package-entry,
* html .package-list .package-entry .additional-info
{
    height: 1%;
}

.package-list .package-entry,
.package-list .package-entry .additional-info
{
    display: block;
}

/* end clearfix */

.package-details .action,
.package-list .package-entry .action
{
    float: right;
}

.package-details .action,
.package-list-actions .update-all,
.package-list .package-entry .action
{
    min-width: 50px;
    text-align: center;
    padding: 0.3em 1.5em;
}

.package-details .action.install,
.package-list-actions .update-all,
.package-list .package-entry .action.install
{
    color: #fff;
    border-color: #1f4f1f;
    background-color: #42cc3e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4fe64b), color-stop(1, #39a42e));
    background-image: -webkit-linear-gradient(top, #4fe64b 0%, #39a42e 100%);
    background-image: -moz-linear-gradient(top, #4fe64b 0%, #39a42e 100%);
    background-image: -ms-linear-gradient(top, #4fe64b 0%, #39a42e 100%);
    background-image: -o-linear-gradient(top, #4fe64b 0%, #39a42e 100%);
    background-image: linear-gradient(to bottom, #4fe64b 0%, #39a42e 100%);
}

.package-details .action.remove,
.package-list .package-entry .action.remove
{
    color: #fff;
    border-color: #4f1f1f;
    background-color: #c83b3b;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e64747), color-stop(1, #a42e2e));
    background-image: -webkit-linear-gradient(top, #e64747 0%, #a42e2e 100%);
    background-image: -moz-linear-gradient(top, #e64747 0%, #a42e2e 100%);
    background-image: -ms-linear-gradient(top, #e64747 0%, #a42e2e 100%);
    background-image: -o-linear-gradient(top, #e64747 0%, #a42e2e 100%);
    background-image: linear-gradient(to bottom, #e64747 0%, #a42e2e 100%);
}

.package-details .action:hover,
.package-list-actions .update-all:hover,
.package-list .package-entry .action:hover
{
    color: #fff;
    border-color: #84a3ee;
    background-color: #8faffe;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b1c5f4), color-stop(1, #8faffe));
    background-image: -webkit-linear-gradient(top, #b1c5f4 0%, #8faffe 100%);
    background-image: -moz-linear-gradient(top, #b1c5f4 0%, #8faffe 100%);
    background-image: -ms-linear-gradient(top, #b1c5f4 0%, #8faffe 100%);
    background-image: -o-linear-gradient(top, #b1c5f4 0%, #8faffe 100%);
    background-image: linear-gradient(to bottom, #b1c5f4 0%, #8faffe 100%);
}

.package-details .icon,
.package-list .package-entry .icon
{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 1em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("/images/common/admin/packages/default-icon.png");
}

.package-details .name,
.package-list .package-entry .name
{
    display: block;
    font-size: larger;
    font-weight: bold;
}

.package-details .modules,
.package-list .package-entry .modules
{
    width: 30%;
    float: right;
    margin-left: 1em;
}

.package-details .modules .modules-header,
.package-list .package-entry .modules .modules-header
{
    color: #fff;
    padding: 10px;
    font-weight: bold;
    position: relative;
    background: #4a78eb;
    margin: 0px 0px 10px 0px;
    border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.package-details .modules .modules-header:before,
.package-list .package-entry .modules .modules-header:before
{
    top: 50%;
    left: 0px;
    margin-top: -8px;
    margin-left: -14px;
    position: absolute;
    content: url("/images/common/admin/packages/modules-arrow-left.png");
}

.package-details .modules .module,
.package-list .package-entry .modules .module
{
    display: block;
    padding-left: 10px;
}

.package-details .short-infos,
.package-list .package-entry .short-infos
{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.package-details .short-infos .number,
.package-list .package-entry .short-infos .number
{
    color: #000;
    position: relative;
    display: inline-block;
    margin: 0px 0px 0px 12px;
    padding: 6px 12px 6px 32px;
    background: #f1f1f1 none no-repeat 10px 50%;
    box-shadow: 1px 1px 0px #d7dbe6;
    border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.package-list .package-entry.installed .short-infos .number
{
    box-shadow: 1px 1px 0px #123;
}

.package-details .short-infos .number:before,
.package-list .package-entry .short-infos .number:before
{
    top: 23px;
    left: 6px;
    position: absolute;
    content: url("/images/common/admin/packages/info-arrow-down.png");
}

.package-details .short-infos .number.favourites,
.package-list .package-entry .short-infos .number.favourites
{
    background-image: url("/images/common/admin/packages/favourites.png");
}

.package-details .short-infos .number.downloads,
.package-list .package-entry .short-infos .number.downloads
{
    background-image: url("/images/common/admin/packages/downloads.png");
}

.package-list .package-entry .name,
.package-list .package-entry .short-infos,
.package-list .package-entry .description,
.package-list .package-entry .description ~ .button-appearance
{
    margin-left: 115px;
}

.package-details .description,
.package-list .package-entry .description
{
    text-align: justify;
    margin-right: 320px;
}

.package-details dl.package-data,
.package-list .package-entry dl.package-data
{
    margin: 1em 0em 0em 0em;
}

.package-details dl.package-data dt,
.package-list .package-entry dl.package-data dt
{
    float: left;
    width: auto;
    margin-left: 2em;
    font-weight: bold;
    padding-right: 1ex;
}

.package-details dl.package-data dd,
.package-list .package-entry dl.package-data dd
{
    margin-left: 2em;
    margin-right: 2em;
}

.package-details dl.package-data .version .reference,
.package-list .package-entry dl.package-data .version .reference
{
    opacity: 0.5;
    font-size: smaller;
    font-family: monospace;
    filter: alpha(opacity=50);
}

.package-list .package-entry .additional-info
{
    clear: both;
    color: #000;
    padding: 1em 0em;
    position: relative;
    background: #ebf1ff;
    margin: 1em 0em 0em 0em;
    border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.package-list .package-entry .additional-info a:hover
{
    color: #000;
}

.package-list .package-entry .additional-info:before
{
    top: 0px;
    left: 20px;
    margin-top: -14px;
    position: absolute;
    content: url("/images/common/admin/packages/info-arrow-up.png");
}

.package-list .package-entry .additional-info .additional-info-header
{
    margin: 0em;
    display: block;
    padding: 0em 1em;
    font-weight: bold;
}

.package-list .package-entry .package-data.left
{
    float: left;
}

.package-list .package-entry .package-data.right
{
    float: right;
}

.package-list .package-entry .package-data.left,
.package-list .package-entry .package-data.right
{
    width: 50%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
