@charset "utf-8";

.CodeMirror
{
    font-size: 10pt;
    border: 1px solid #d3d4d9;
}

.CodeMirror .CodeMirror-toolbar
{
    z-index: 1;
    right: 15px;
    bottom: 15px;
    display: block;
    text-align: right;
    position: absolute;
}

.CodeMirror .CodeMirror-dialog
{
    margin: 0em;
    padding: 0.5em;
    border: 0px none;
    text-align: right;
    background-color: #d3d4d9;
}
