@charset "utf-8";

.js-form-collection fieldset
{
    margin: 0px;
    padding: 0px;
    border: 0px none;
}

.js-form-collection fieldset legend
{
    width: 100%;
    box-sizing: border-box;
}

.js-form-collection fieldset legend button
{
    float: right;
    width: 1.6em;
    height: 1.5em;
    margin: -0.1em;
}