@charset "utf-8";

form.paragraph-create-type .imageradiogroup.default .ui-vslider-content
{
    height: 230px;
    width: 464px;
    margin: 0 auto;
}

form.paragraph-create-type .imageradiogroup.default .ui-vslider-item
{
    height: 230px;
}