@charset "utf-8";

.js-tag-list .ui-button
{
    width: 20px;
    height: 21px;
}

.js-tag-list .js-tag
{
    padding: 2px;
    font-size: 0.8em;
    display: inline-block;
    vertical-align: middle;
    margin: 4px 4px 0px 0px;
}

.js-tag-list .js-tag .ui-button
{
    width: 16px;
    height: 17px;
    margin-left: 0.5em;
    vertical-align: middle;
}
